body {
  width: 400px;
  height: auto;

  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
}

.container {
    background: linear-gradient(to top, #0e0e0e, #222222);
    padding-bottom: 2rem;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.start img {
    width: 5rem;
    height: 5rem;

    border-radius: 25%;
    margin-top: 6rem;
    margin-bottom: 4rem;

}

.start h2, .start h5 {
    text-align: center;
    margin: 0;
}

.start h2 {
    color: white;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.start h5 {
    color: rgb(115, 115, 115);
    font-size: 0.6rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.start button {
  margin-top: 2rem;
  padding: 0.4rem 3.5rem;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(0, 91, 211);
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 91, 211, 0.589);
  transition: 0.2s ease-in-out;
}

button span {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

button:hover { 
  box-shadow: 0 0.3rem 1.5rem rgba(0, 91, 211, 0.589);
  transform: translateY(-0.2rem);
}

.form {
  display: none;
}
